<div class="container-fluid">
    <app-page-title title="Checkout" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="checkout-tabs">
      <div class="row">
        <div class="col-xl-2 col-sm-3">
          <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-pills flex-column">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <i class="bx bxs-user d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Information Generale</p>
              </a>
              <ng-template ngbNavContent>
                <div class="container-fluid">
                  <!-- start page title -->
  
                  <!-- end page title -->
  
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <h1 class="card-title">Consultation Employee </h1> <h4 style=color:red> Matricule: {{perso11.mat_pers}}</h4>
                          <p class="card-title-desc"> information </p>
  
                          <form>
                            <div class="row">
                              <div class="col-sm-6">
                                <div *ngIf="perso11.cod_sit=='M'"  class="mb-3">
                                  <label for="productname">Sit.Familiale</label>
                                  <input
                                  *ngIf="perso11.cod_sit=='M'"
                                    value="Marié"
                                    id="productname"
                                    name="productname"
                                    type="text"
                                    class="form-control"
                                  />
                                  <input
                                  *ngIf="perso11.cod_sit=='C'"
                                    value="Celebataire"
                                    id="productname"
                                    name="productname"
                                    type="text"
                                    class="form-control"
                                  />
                                  <input
                                  *ngIf="perso11.cod_sit=='D'"
                                    value="Divorcé"
                                    id="productname"
                                    name="productname"
                                    type="text"
                                    class="form-control"
                                  />
                                  <input
                                  *ngIf="perso11.cod_sit=='V'"
                                    value="Veufe"
                                    id="productname"
                                    name="productname"
                                    type="text"
                                    class="form-control"
                                  />
                                  <input
                                  *ngIf="perso11.cod_sit==null"
                                    value=""
                                    id="productname"
                                    name="productname"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div *ngIf="perso11.chef_fam=='N'" class="mb-3">
                                  <label for="manufacturername">Chef Famille</label>
                                  <input
                                    value="Non"
                                    id="manufacturername"
                                    name="manufacturername"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div *ngIf="perso11.chef_fam=='O'" class="mb-3">
                                    <label for="manufacturername">Chef Famille</label>
                                    <input
                                      value="Oui"
                                      id="manufacturername"
                                      name="manufacturername"
                                      type="text"
                                      class="form-control"
                                    />
                                  </div>
                                  <div *ngIf="perso11.chef_fam==null" class="mb-3">
                                    <label for="manufacturername">Chef Famille</label>
                                    <input
                                      value=""
                                      id="manufacturername"
                                      name="manufacturername"
                                      type="text"
                                      class="form-control"
                                    />
                                  </div>
                                <div class="mb-3">
                                  <label for="manufacturerbrand">Salaire Unique	</label>
                                  <input
                                    id="manufacturerbrand"
                                    [value]="perso11.niv_sal"
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
  
                                  <div class="mb-3">
                                    <label for="price">Nbr.Enfant</label>
                                    <input
                                    [value]="perso11.nbre_enf"
                                      type="text"
                                      class="form-control"
                                    />
                                    <div class="invalid-feedback"></div>
                                  </div>
                                  <div class="mb-3">
                                    <label for="manufacturerbrand">Enfant Imposable</label>
                                    <input
                                      id="manufacturerbrand"
                                      [value]="perso11.charg_enf"
                                      name="manufacturerbrand"
                                      type="text"
                                      class="form-control"
                                    />
                                  </div>
                                  <div class="mb-3">
                                    <label class="control-label">Etat de sante</label>
                                    <input
                                    id="manufacturerbrand"
                                    [value]="perso11.typ_handicap"
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                  </div>
                                  <div class="mb-3">
                                    <label class="control-label">Date Effet Fiche</label>
                                    <input
                                    id="manufacturerbrand"
                                    [value]="perso11.dat_eff_fich_hand"
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                  </div>

  
  
  
  
  
                              </div>
  
                              <div class="col-sm-6">
                                <div class="mb-3">
                                  <label class="control-label">Enfant Allocataire	</label>
                                  <input
                                    id="manufacturerbrand"
                                    [value]="perso11.charg_all" 
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div class="mb-3">
                                  <label class="control-label">Etat de sante</label>
                                  <input
                                  *ngIf="perso11.typ_handicap=='0'"
                                  id="manufacturerbrand"
                                  value="Non Handicapé"
                                  name="manufacturerbrand"
                                  type="text"
                                  class="form-control"
                                />
                                <input
                                *ngIf="perso11.typ_handicap=='1'"
                                id="manufacturerbrand"
                                value=" Handicapé"
                                name="manufacturerbrand"
                                type="text"
                                class="form-control"
                              />
                              <input
                              *ngIf="perso11.typ_handicap=='2'"
                              id="manufacturerbrand"
                              value=" Handicapé"
                              name="manufacturerbrand"
                              type="text"
                              class="form-control"
                            />
                            <input
                            *ngIf="perso11.typ_handicap=='3'"
                            id="manufacturerbrand"
                            value=" Handicapé"
                            name="manufacturerbrand"
                            type="text"
                            class="form-control"
                          />
                                </div>
                                <div class="mb-3">
                                  <label for="manufacturerbrand">N identité
                                  </label>
                                  <input
                                    id="manufacturerbrand"
                                    [value]="perso11.cin"
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div class="mb-3">
                                  <label for="manufacturerbrand">Taux pp	</label>
                                  <input
                                    id="manufacturerbrand"
                                    [value]="perso11.dat_fin_fich_hand"
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div class="mb-3">
                                  <label for="manufacturerbrand">N°Fiche Handicap	</label>
                                  <input
                                    id="manufacturerbrand"
                                    [value]="perso11.num_fich_hand"
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div class="mb-3">
                                    <label class="control-label">Degré handicap</label>
                                    <input
                                    *ngIf="perso11.typ_handicap=='0'"
                                    id="manufacturerbrand"
                                    value="Non Handicapé"
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                  <input
                                  *ngIf="perso11.typ_handicap=='1'"
                                  id="manufacturerbrand"
                                  value="Handicap Normal"
                                  name="manufacturerbrand"
                                  type="text"
                                  class="form-control"
                                />
                                <input
                                *ngIf="perso11.typ_handicap=='2'"
                                id="manufacturerbrand"
                                value="Handicap Proprietaire"
                                name="manufacturerbrand"
                                type="text"
                                class="form-control"
                              />
                              <input
                              *ngIf="perso11.typ_handicap=='3'"
                              id="manufacturerbrand"
                              value="'Handicap Accompagné'"
                              name="manufacturerbrand"
                              type="text"
                              class="form-control"
                            /></div>
                            <div class="mb-3">
                                <label for="manufacturerbrand">Date effet fin fiche</label>
                                <input
                                  id="manufacturerbrand"
                                  [value]="perso11.dat_fin_fich_hand"
                                  name="manufacturerbrand"
                                  type="text"
                                  class="form-control"
                                />
                              </div>
                            
                            
                            
                                
  
  
                              </div>
  
                            </div>
                            <div class="d-flex flex-wrap gap-2 mt-2">
  
  
                            </div>
                          </form>
                        </div>
                      </div>
  
                      <div class="card">
                        <div class="card-body">
  
  
                          <form>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="metatitle">N°Retraite	</label>
                                  <input
                                  [value]="perso11.num_retr "
                                    id="metatitle"
                                    name="productname"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div class="mb-3">
                                  <label for="metakeywords">Assurance	</label>
                                  <input
                                    id="metakeywords"
                                    [value]="perso11.cod_assur" 
                                    name="manufacturername"
                                    type="text"
                                    class="form-control"
                                  /><input
                                  id="metakeywords"
                                  [value]="perso11.num_assur"
                                  name="manufacturername"
                                  type="text"
                                  class="form-control"
                                />
                                <input
                                disabled
                                  id="metakeywords"
                                 
                                  name="manufacturername"
                                  type="text"
                                  class="form-control"
                                />
                                </div>
                              </div>
  
                              <div class="col-sm-6">
                             
                                
                              
                                <div class="mb-3">
                                  <label for="metakeywords">Allocation Familiale</label>
                                  <input *ngIf="perso11.fct_fam=='O'" value="Oui"
                                    id="metakeywords"
                                    name="manufacturername"
                                    type="text"
                                    class="form-control"
                                  />

                                  <input *ngIf="perso11.fct_fam=='N'"
                                  id="metakeywords"
                                  value="Non"
                                  name="manufacturername"
                                  type="text"
                                  class="form-control"
                                />
                                <input *ngIf="perso11.fct_fam==null"
                                id="metakeywords"
                                value=""
                                name="manufacturername"
                                type="text"
                                class="form-control"
                              />
                             
                                </div>
                                <div  class="mb-3">
                                    <label for="metadescription">	N°Accident de travail
                                    </label>
                                    <input
                                    id="metakeywords"
                                    [value]="perso11.num_acc "  name="manufacturername"
                                    type="text"
                                    class="form-control"
                                  />
                                  </div>
                               
                                
                                
                              </div>
                            </div>
                            <div class="d-flex flex-wrap gap-2">
  
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end row -->
                </div>
                <!-- container-fluid -->
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>
                <i class="bx bx-money d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Conjoint</p>
              </a>
              <ng-template ngbNavContent>
                <div class="container-fluid">
                  <!-- start page title -->
                  <app-page-title
                    title="Add Product"
                    [breadcrumbItems]="breadCrumbItems"
                  ></app-page-title>
                  <!-- end page title -->
  
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <h1 class="card-title">Consultation Employee </h1> <h4 style=color:red> Matricule: {{perso11.mat_pers}}</h4>
                          <p class="card-title-desc"> information </p>
                          <app-conjoint></app-conjoint>
  
                    </div></div></div></div></div>     
  
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>
                <i class="bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Enfant</p>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <div class="card shadow-none border mb-0">
                      <div class="card-body">
                        <h4 class="card-title mb-4">Enfant</h4>
  <app-enfant></app-enfant>
                       
  </div></div></div></div>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>
                  <i class="bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                  <p class="fw-bold mb-4">Scolarité Enfant</p>
                </a>
                <ng-template ngbNavContent>
                    <div class="container-fluid">
                        <!-- start page title -->
        
                        <!-- end page title -->
        
                        <div class="row">
                          <div class="col-12">
                            <div class="card">
                              <div class="card-body">
                                <h1 class="card-title">Consultation Employee </h1> <h4 style=color:red> Matricule: {{perso11.mat_pers}}</h4>
                                <p class="card-title-desc"> information </p>
        
                             <app-scolenfant></app-scolenfant>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end row -->
                      </div>
                      <!-- container-fluid -->
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="5">
                    <a ngbNavLink>
                      <i class="bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                      <p class="fw-bold mb-4">Affiliation</p>
                    </a>
                    <ng-template ngbNavContent>
                        <div class="container-fluid">
                            <!-- start page title -->
            
                            <!-- end page title -->
            
                            <div class="row">
                              <div class="col-12">
                                <div class="card">
                                  <div class="card-body">
                                    <h1 class="card-title">Consultation Employee </h1> <h4 style=color:red> Matricule: {{perso11.mat_pers}}</h4>
                                    <p class="card-title-desc"> information </p>
            
                                   <app-affil></app-affil>
                                  </div>
                                </div>
            
                                
                                  </div>
                                </div>
                              </div>
                           
                            <!-- end row -->
                         
                          <!-- container-fluid -->
                        </ng-template>
                      </li>
                     
          </ul>
        </div>
        <div class="col-lg-10">
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
  </div>
  