<div class="container-fluid">
    <app-page-title title="Checkout" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="checkout-tabs">
      <div class="row">
        <div class="col-xl-2 col-sm-3">
          <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-pills flex-column">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <i class="bx bxs-user d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Information Generale</p>
              </a>
              <ng-template ngbNavContent>
                <div class="container-fluid">
                  <!-- start page title -->
                  <app-page-title
                    title="Add Product"
                    [breadcrumbItems]="breadCrumbItems"
                  ></app-page-title>
                  <!-- end page title -->
  
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <h1 class="card-title">Consultation Employee </h1> <h4 style=color:red> Matricule: {{perso11.mat_pers}}</h4>
                          <p class="card-title-desc"> information </p>
  
                          <form>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="mb-3">
                                  <label for="productname">Date d'embauche
                                  </label>
                                  <input
                                    [value]="perso11.dat_emb"
                                    id="productname"
                                    name="productname"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div class="mb-3">
                                  <label for="manufacturername">Date Titularisation
                                  </label>
                                  <input
                                  [value]="perso11.dat_tit"
                                    id="manufacturername"
                                    name="manufacturername"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div  *ngFor="let item of perso11.rens_pers" class="mb-3">
                                  <label for="manufacturername">Date Fin Fidelité
                                  </label>
                                  <input
                                  value={{item.dt_fin_fidelite}}    id="manufacturername"
                                    name="manufacturername"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
  
  
  
  
  
  
  
  
  
                              </div>
  
                              <div class="col-sm-6">
                                <div class="mb-3">
                                  <label class="control-label">Date d'entrée adminisration</label>
                                  <input
                                    id="manufacturerbrand"
                                    [value]="perso11.dat_ent"
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div *ngFor="let item of perso11.rens_pers" class="mb-3">
                                  <label class="control-label">Contrat Fidelité</label>
                                  <input
                                  id="manufacturerbrand"
                                  value={{item.contrat_fidelite}} name="manufacturerbrand"
                                  type="text"
                                  class="form-control"
                                />
                                </div>
  
  
  
  
  
                              </div>
  
                            </div>
                            <div class="d-flex flex-wrap gap-2 mt-2">
  
  
                            </div>
                          </form>
                        </div>
                      </div>
  
  
                    </div>
                  </div>
                  <!-- end row -->
                </div>
                <!-- container-fluid -->
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>
                <i class="bx bx-money d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Pointage</p>
              </a>
              <ng-template ngbNavContent>
                <div class="container-fluid">
                  <!-- start page title -->
                  <app-page-title
                    title="Add Product"
                    [breadcrumbItems]="breadCrumbItems"
                  ></app-page-title>
                  <!-- end page title -->
  
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <h1 class="card-title">Consultation Employee </h1> <h4 style=color:red> Matricule: {{perso11.mat_pers}}</h4>
                          <p class="card-title-desc"> information </p>
  
                          <form>
                            <div class="row">
                              <div class="col-sm-6">
                                <div  *ngFor="let item of perso11.rens_pers"class="mb-3">
                                  <label for="productname"> regime travail	</label>
                                  <input
                                  value={{item.regime_trav}}
                                    id="productname"
                                    name="productname"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div *ngFor="let item of perso11.rens_pers" class="mb-3">
                                  <label for="manufacturername"> Debut Cycle	</label>
                                  <input
                                  value={{item.deb_cycle}}
                                    id="manufacturername"
                                    name="manufacturername"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
                                <div *ngFor="let item of perso11.rens_pers" class="mb-3">
                                  <label for="manufacturerbrand">Code Regime	</label>
                                  <input
                                    id="manufacturerbrand"
                                    value={{item.cod_reg}} name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
  
                                  <div *ngFor="let item of perso11.rens_pers" class="mb-3">
                                    <label for="price">Regime heure
                                    </label>
                                    <input
                                    value={{item.regime_heur}}
                                      type="text"
                                      class="form-control"
                                    />
                                    <div class="invalid-feedback"></div>
                                  </div>
                                  <div *ngFor="let item of adrpersbycodeandmat" class="mb-3">
                                    <label for="manufacturerbrand">Signature</label>
                                    <input
                                      id="manufacturerbrand"
                                      value={{item.tel_pers}}
                                      name="manufacturerbrand"
                                      type="text"
                                      class="form-control"
                                    />
                                  </div>
  
  
  
  
  
  
                              </div>
  
                              <div class="col-sm-6">
                                <div   *ngFor="let item of perso11.rens_pers" class="mb-3">
                                  <label for="price">
                                    Pelérinage                                </label>
                                  <input
                                  *ngIf="item.code_pelerinage=='N' "
                                    type="text"
                                    class="form-control"
                                    value="Non"
                                  />
                                  <input
                                  *ngIf="item.code_pelerinage=='O' "
                                    type="text"
                                    class="form-control"
                                    value="Oui"
                                  />
                                  <input
                                  *ngIf="item.code_pelerinage==null "
                                    type="text"
                                    class="form-control"
                                    value=""
                                  />
                                  <div class="invalid-feedback"></div>
                                </div>
                                <div *ngFor="let item of perso11.rens_pers" class="mb-3">
                                  <label class="control-label"> Fin Cycle
                                  </label>
                                  <input
                                  value={{item.fin_cycle}}
                                  id="manufacturerbrand"
                                  name="manufacturerbrand"
                                  type="text"
                                  class="form-control"
                                />
                                </div>
                                <div *ngFor="let item of perso11.rens_pers" class="mb-3">
                                  <label for="price">Regime
                                  </label>
                                  <input
                                  value={{item.lib_regime}}
                                    type="text"
                                    class="form-control"
                                  />
                                  <div class="invalid-feedback"></div>
                                </div>
                                <div *ngFor="let item of perso11.rens_pers" class="mb-3">
                                  <label for="manufacturerbrand">Pointe
                                  </label>
  
                                  <input
                                  *ngIf="item.pointe=='O'" value="Oui"
                                  value="Oui"
                                    id="manufacturerbrand"
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                  <input
                                  *ngIf="item.pointe=='N'" value="Non"
                                    id="manufacturerbrand"
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                  <input
                                  *ngIf="item.pointe==null" value=""
                                    id="manufacturerbrand"
                                    name="manufacturerbrand"
                                    type="text"
                                    class="form-control"
                                  />
                                </div>
  
  
  
                              </div>
  
                            </div>
                            <div class="d-flex flex-wrap gap-2 mt-2">
  
  
                            </div>
                          </form>
                        </div>
                      </div>
  
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Meta Data</h4>
                          <p class="card-title-desc">Fill all information below</p>
  
                         <app-aggridadress></app-aggridadress>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end row -->
                </div>
                <!-- container-fluid -->
  
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>
                <i class="bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Mode de Payemnt</p>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <div class="card shadow-none border mb-0">
                      <div class="card-body">
                        <h4 class="card-title mb-4">Mode de payement</h4>
  
                        <div class="table-responsive">
                          <table class="table table-centered mb-0 table-nowrap">
                            <thead class="table-light">
                              <tr>
                                <th scope="col">Bullettin</th>
                                <th scope="col">Libelle</th>
                                <th scope="col">Mode de payement</th>
                                <th scope="col">Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of perso11.mode_payement">
                                <td>{{item.cod_typ_bul}} </td>
                                <td >{{item.lib_bul}}</td>
                                <td *ngIf="item.cod_pay=='V'">Virement</td>
                                <td *ngIf="item.cod_pay=='E'">Especes</td>
                                <td *ngIf="item.cod_pay=='C'">Cheque</td>
              
                                <td>{{item.date_modp}}</td>
                                
              
                              </tr>
                            
                            
                          
                           
                            </tbody>
                          </table>
                          
  
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                        
                      <div class="col-sm-6">

                      
                      </div> <!-- end col -->
                      <div class="col-sm-6">
                        <div class="text-end">
                        
                        </div>
                      </div> 
                      <!-- end col -->
                    </div>
                    
                  </div>
                  

                </div>
                <div class="card">
                    <div class="card-body">
                      <div class="card shadow-none border mb-0">
                        <div class="card-body">
                          <h4 class="card-title mb-4">Mode de payement</h4>
                          <app-comptepers ></app-comptepers>

    
                          
    
                        </div>
                      </div>

                      <div class="row mt-4">
                          
                        <div class="col-sm-6">
  
                        
                        </div> <!-- end col -->
                        <div class="col-sm-6">
                          <div class="text-end">
                          
                          </div>
                        </div> 
                        <!-- end col -->
                      </div>
                      
                    </div>
                    
  
                  </div>
  
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>
                  <i class="bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                  <p class="fw-bold mb-4">Variables d'octroi et d'indemnité</p>
                </a>
                <ng-template ngbNavContent>
                    <div class="container-fluid">
                        <!-- start page title -->
        
                        <!-- end page title -->
        
                        <div class="row">
                          <div class="col-12">
                            <div class="card">
                              <div class="card-body">
                                <h1 class="card-title">Consultation Employee </h1> <h4 style=color:red> Matricule: {{perso11.mat_pers}}</h4>
                                <p class="card-title-desc"> information </p>
        
                                <form>
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div *ngFor="let item of rens" class="mb-3">
                                        <label for="productname">Droit lait</label>
                                        <input
                                        value={{item.droit_lait}}
                                          id="productname"
                                          name="productname"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
                                      <div *ngFor="let item of rens" class="mb-3">
                                        <label for="manufacturername">Logement</label>
                                        <input
                                        value={{item.pers_clog}}
                                          id="manufacturername"
                                          name="manufacturername"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
                                      <div  *ngFor="let item of rens" class="mb-3">
                                        <label for="manufacturerbrand">Chaufage</label>
                                        <input
                                          id="manufacturerbrand"
                                          value={{item.code_cchauf}}
                                          name="manufacturerbrand"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
        
                                        <div *ngFor="let item of rens" class="mb-3">
                                          <label for="price">Eau</label>
                                          <input
                                          value={{item.pers_ceau}}
                                            type="text"
                                            class="form-control"
                                          />
                                          <div class="invalid-feedback"></div>
                                        </div>
                                        <div  *ngFor="let item of rens" class="mb-3">
                                          <label for="manufacturerbrand">Service DoMESTIQUE	</label>
                                          <input
                                            id="manufacturerbrand"
                                            value={{item.ind_domest}}
                                            name="manufacturerbrand"
                                            type="text"
                                            class="form-control"
                                          />
                                        </div>
                                        <div  *ngFor="let item of rens" class="mb-3">
                                            <label for="manufacturerbrand">Residence	</label>
                                            <input
                                              id="manufacturerbrand"
                                              value={{item.code_residence}}
                                              name="manufacturerbrand"
                                              type="text"
                                              class="form-control"
                                            />
                                          </div>
                                          <div  *ngFor="let item of rens" class="mb-3">
                                            <label for="manufacturerbrand">Electricité	</label>
                                            <input
                                              id="manufacturerbrand"
                                              value={{item.pers_celec}} 
                                              name="manufacturerbrand"
                                              type="text"
                                              class="form-control"
                                            />
                                          </div>

        
        
        
        
        
                                    </div>
        
                                    <div class="col-sm-6">
                                      <div *ngFor="let item of rens" class="mb-3">
                                        <label class="control-label">Libellé Droit Lait</label>
                                        <input
                                          id="manufacturerbrand"
                                          value={{item.lib_lait}}
                                          name="manufacturerbrand"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
                                      <div  *ngFor="let item of rens" class="mb-3">
                                        <label class="control-label">Libellé Logement</label>
                                        <input
                                        id="manufacturerbrand"
                                        value={{item.lib_clog}}
                                        name="manufacturerbrand"
                                        type="text"
                                        class="form-control"
                                      />
                                      </div>
                                      <div *ngFor="let item of rens" class="mb-3">
                                        <label for="manufacturerbrand">Libellé Chaufage
                                        </label>
                                        <input
                                          id="manufacturerbrand"
                                          value={{item.lib_CCHAUF}}
                                          name="manufacturerbrand"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
                                      <div *ngFor="let item of rens" class="mb-3">
                                        <label for="manufacturerbrand">Libellé Eau</label>
                                        <input
                                          id="manufacturerbrand"
                                          value={{item.lib_eau}}
                                          name="manufacturerbrand"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
                                      <div *ngFor="let item of rens" class="mb-3">
                                        <label for="manufacturerbrand">Libellé service DoMESTIQUE</label>
                                        <input
                                          id="manufacturerbrand"
                                          value={{item.lib_dom}} 
                                          name="manufacturerbrand"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
                                      <div *ngFor="let item of rens" class="mb-3">
                                        <label for="manufacturerbrand">Libellé Residence</label>
                                        <input
                                          id="manufacturerbrand"
                                          value={{item.lib_residence}}
                                          name="manufacturerbrand"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
                                      <div *ngFor="let item of rens" class="mb-3">
                                        <label for="manufacturerbrand">Libellé Electricité</label>
                                        <input
                                          id="manufacturerbrand"
                                          value={{item.lib_celec}}
                                          name="manufacturerbrand"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
        
        
                                    </div>
        
                                  </div>
                                  <div class="d-flex flex-wrap gap-2 mt-2">
        
        
                                  </div>
                                </form>
                              </div>
                            </div>
        
                            <div class="card">
                              <div class="card-body">
        
        
                                <form>
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div  *ngFor="let item of rens" class="mb-3">
                                        <label for="metatitle">Voiture</label>
                                        <input
                                        value={{item.pers_cvoit}} 
                                          id="metatitle"
                                          name="productname"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
                                      
                                      <div  *ngFor="let item of rens" class="mb-3">
                                        <label for="metakeywords">Baréme de Transport</label>
                                        <input
                                          id="metakeywords"
                                          value={{item.cod_bareme}}
                                          name="manufacturername"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
                                      <div  *ngFor="let item of rens" class="mb-3">
                                        <label for="metakeywords">Uniform</label>
                                        <input
                                          id="metakeywords"
                                          value={{item.uniform}}
                                          name="manufacturername"
                                          type="text"
                                          class="form-control"
                                        />
                                      </div>
                                    </div>
        
                                    <div class="col-sm-6">
                                      <div *ngFor="let item of rens"  class="mb-3">
                                        <label for="metadescription">Libelle Voiture
                                        </label>
                                        <input
                                        value={{item.lib_cvoit}}
                                        id="metakeywords"
                                        value="Oui"
                                        name="manufacturername"
                                        type="text"
                                        class="form-control"
                                      />
                                      </div>
                                    
                                      
                                      <div *ngFor="let item of rens" class="mb-3">
                                        <label for="metakeywords">Nb Mois Bonification</label>
                                        <input 
                                          id="metakeywords"
                                          value={{item.iep_mojhd_chehid}}
                                          name="manufacturername"
                                          type="text"
                                          class="form-control"
                                        />
                                       
                               
                                   
                                      </div>
                                      <div *ngFor="let item of rens"  class="mb-3">
                                        <label for="metadescription">Uniform
                                        </label>
                                        <input
                                        value={{item.lib_uniform}} 
                                        id="metakeywords"
                                        value="Oui"
                                        name="manufacturername"
                                        type="text"
                                        class="form-control"
                                      />
                                      </div>
                                      <div *ngFor="let item of rens"  class="mb-3">
                                        <label for="metadescription">Fils Moujahid/chahid
                                        </label>
                                        <input
                                        value={{item.f_mojhd_chehid}}  id="metakeywords"
                                       
                                        name="manufacturername"
                                        type="text"
                                        class="form-control"
                                      />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="d-flex flex-wrap gap-2">
        
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end row -->
                      </div>
                      <!-- container-fluid -->
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="6">
                    <a ngbNavLink>
                      <i class="bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                      <p class="fw-bold mb-4">Experiences Professionnel</p>
                    </a>
                    <ng-template ngbNavContent>
                        <div class="container-fluid">
                            <!-- start page title -->
            
                            <!-- end page title -->
            
                            <div class="row">
                              <div class="col-12">
                                <div class="card">
                                  <div class="card-body">
                                    <h1 class="card-title">Consultation Employee </h1> <h4 style=color:red> Matricule: {{perso11.mat_pers}}</h4>
                                    <p class="card-title-desc"> information </p>
            
                                   <app-exprienceprof></app-exprienceprof>
                                  </div>
                                </div>
            
                                <div class="card">
                                  <div class="card-body">
            
            
                                    <form>
                                      <div class="row">
                                        <div class="col-sm-6">
                                          <div  *ngFor="let item of rens" class="mb-3">
                                            <label for="metatitle">Voiture</label>
                                            <input
                                            value={{item.pers_cvoit}} 
                                              id="metatitle"
                                              name="productname"
                                              type="text"
                                              class="form-control"
                                            />
                                          </div>
                                          
                                          <div  *ngFor="let item of rens" class="mb-3">
                                            <label for="metakeywords">Baréme de Transport</label>
                                            <input
                                              id="metakeywords"
                                              value={{item.cod_bareme}}
                                              name="manufacturername"
                                              type="text"
                                              class="form-control"
                                            />
                                          </div>
                                          <div  *ngFor="let item of rens" class="mb-3">
                                            <label for="metakeywords">Uniform</label>
                                            <input
                                              id="metakeywords"
                                              value={{item.uniform}}
                                              name="manufacturername"
                                              type="text"
                                              class="form-control"
                                            />
                                          </div>
                                        </div>
            
                                        <div class="col-sm-6">
                                          <div *ngFor="let item of rens"  class="mb-3">
                                            <label for="metadescription">Libelle Voiture
                                            </label>
                                            <input
                                            value={{item.lib_cvoit}}
                                            id="metakeywords"
                                            value="Oui"
                                            name="manufacturername"
                                            type="text"
                                            class="form-control"
                                          />
                                          </div>
                                        
                                          
                                          <div *ngFor="let item of rens" class="mb-3">
                                            <label for="metakeywords">Nb Mois Bonification</label>
                                            <input 
                                              id="metakeywords"
                                              value={{item.iep_mojhd_chehid}}
                                              name="manufacturername"
                                              type="text"
                                              class="form-control"
                                            />
                                           
                                   
                                       
                                          </div>
                                          <div *ngFor="let item of rens"  class="mb-3">
                                            <label for="metadescription">Uniform
                                            </label>
                                            <input
                                            value={{item.lib_uniform}} 
                                            id="metakeywords"
                                            value="Oui"
                                            name="manufacturername"
                                            type="text"
                                            class="form-control"
                                          />
                                          </div>
                                          <div *ngFor="let item of rens"  class="mb-3">
                                            <label for="metadescription">Fils Moujahid/chahid
                                            </label>
                                            <input
                                            value={{item.f_mojhd_chehid}}  id="metakeywords"
                                           
                                            name="manufacturername"
                                            type="text"
                                            class="form-control"
                                          />
                                          </div>
                                        </div>
                                      </div>
                                      <div class="d-flex flex-wrap gap-2">
            
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- end row -->
                          </div>
                          <!-- container-fluid -->
                        </ng-template>
                      </li>
                      <li [ngbNavItem]="5">
                        <a ngbNavLink>
                          <i class="bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                          <p class="fw-bold mb-4">indemnité</p>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="container-fluid">
                                <!-- start page title -->
                
                                <!-- end page title -->
                
                                <div class="row">
                                  <div class="col-12">
                                    <div class="card">
                                      <div class="card-body">
                                        <h1 class="card-title">Consultation Employee </h1> <h4 style=color:red> Matricule: {{perso11.mat_pers}}</h4>
                                        <p class="card-title-desc"> information </p>
                
                                       <app-indimnite></app-indimnite>
                                      </div>
                                    </div>
                
                                    
                                  </div>
                                </div>
                                <!-- end row -->
                              </div>
                              <!-- container-fluid -->
                            </ng-template>
                          </li>
          </ul>
        </div>
        <div class="col-lg-10">
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
  </div>
  